@import "./variables.scss";

html,
body {
  margin: 0;
  background-color: $black;
  font-family: "Montserrat", sans-serif;
}

* {
  user-select: none; // This is to make it more consistent when dragging pieces
}

// Unstyle the buttons by default
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
